<%- include('./partials/head.ejs') %>

    <%- include('./partials/header.ejs') %>

    <main class="main">
        <%- include('./partials/title.ejs') %>
    </main>

<%- include('./partials/foot.ejs') %>